.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}
.header__logo {
  width: 89px;
  height: 40px;
  line-height: 100%;
  margin-right: 24px;
}
.header__avatar {
  width: 40px;
  height: 40px;
  left: 1320px;
  border-width: 1px;
}
.header__username {
  width: 160px;
  height: 16px;
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}
.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  width: 147px;
  height: 24px;
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  border: none;
}
.header__date-and-location {
  margin: 0;
  width: 180px;
  height: 10px;
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}
