.sidebar {
  display: flex;
  gap: 10px;
}
.sidebar__username {
  width: 157px;
  height: 25px;
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-width: 1px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}
.sidebar__logout-button {
  display: flex;
  padding-top: 13px;
  border: none;
  width: 66px;
  height: 25px;
}
