.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 26px;
}
.footer__text {
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
}
