.cloth__section-header {
  display: flex;
  gap: 25px;
  margin-left: 48px;
}
.clothSection__button {
  border: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
}
.cloth__item {
  width: 102px;
  height: 25px;
  color: rgba(0, 0, 0, 1);
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
}
.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 21px;
}

.clothes-section__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clothes-section__item {
  list-style: none;
}
